@use "common/normalize.scss";
@use "common/colors.scss";
@use "common/utilities.scss";
@use "components/buttons.scss";
@use "components/form-input.scss";
@use "components/places.scss";
@use "components/tags.scss";
@use "components/autocomplete.scss";

html,
body {
    height: 100%;
    background-color: colors.$clr-gray-7;
}

#root {
    height: 100%;
    max-width: 600px;
    margin: auto;
}

.home {
    height: 100%;
    background-color: colors.$clr-white;
}
